img{
    height: 300px;
    width: 300px;;
    padding: 10px;
    margin-top: 50px;
    margin-left: 50PX;
    background-color:rgb(75, 74, 73);
    border-radius: 100px;  
}
body{
    background-image:url("race.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: azure;
}    

h1{
    font-size: 130px;
    font-weight: 300;
}    
h2{
    font-size: 20px;
    color: black;
}    
